body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(83, 83, 83);
    background-image: linear-gradient(
    rgb(155, 155, 155) 0%,
    rgb(83, 83, 83) 100%
    );
}

header{
    background-image: linear-gradient(
    rgb(68, 193, 255) 0%,
    rgb(0, 122, 183) 100%
    );
    color:black;
    line-height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img{
    width: 15%;
    height: 15%;
}

header h1{
    text-align: left;
    margin-left: 5px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: black;
}

#about-me {
    background-color: white;
    color: black;
    border-color: grey;
    border-radius: 20px;
    box-shadow: 10px 5px 20px rgb(177, 177, 177);
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

#about-me h2 {
    text-align: center;
    padding-top: 10px;
}

#about-me p {
    
    position: relative;
    top: 5px;
    padding: 10px;
    text-align: center;
}


#accessibility-horiseon {
    position: relative;
    margin: auto;
    width: 65%;
    border-radius: 25px;
    background-image: url("../images/accessiblity-horiseon.png");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1500%;
}

#accessibility-horiseon p {
    padding-top: 20%;
    display: flex;
    align-items: flex-end;
    color: white;
}

#smaller-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#landing-page img, #prework-study-guide img {
    width: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-headers {
    color: black;
    background-color: beige;
    margin-top: 0;
    text-align: center;
}

#contact-me {
    background-color: black;
    color: white;
}

#contact-me h3 {
    text-align: center;
}

#contact-me ul li a {
    color: white;
}